<div class="comments-section">
  <h3 class="comment-heading">Comments</h3>
  <div class="comment-list">
    {{#each comments}}
      <div class="comment">
        <p class="comment-user"><strong>{{this.User.name}}</strong>: {{this.comment}}</p>
        <p class="comment-date">{{format_date this.date_posted}}</p>
      </div>
    {{/each}}
  </div>
  <form class="comment-form" action="/add-comment" method="POST">
    <textarea class="comment-input" name="comment" placeholder="Add a comment"></textarea>
    <button class="comment-submit" type="submit">Submit</button>
  </form>
</div>
