:root {
  background-color: #222426;
  color: white;
}

header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.tech-post-box, .comments-section {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #50515A;
}

.box {
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  border-radius: 6px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  background-color: rgb(159, 154, 154);
}

.comment-form{
  background-color: #474545; /* Set your desired background color here */
  padding: 10px; /* Add padding for spacing around the content */
  display: flex;
  width: 20em;
  justify-content: center;
  align-items: center;
}

  .comments-section, .comment {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 1.5em;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgb(62, 60, 60);
}
.comment {
  background-color: rgb(94, 91, 91);
}

.tech-post-boxID {
  border: 1px solid #ccc;
  font-size: 3.25rem;
  color: white;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #50515A;
}

.descriptionID, .posted-byID {
  font-size: 1.25rem;
  color: white;
}

.teal, .post-title a{
  color: #6FFFFF;
}
.white {
  color: white;
}

.description, .posted-by {
  font-size: 1.25rem;
  color: white;
}

.teal, .post-title a{
  color: #6FFFFF;
}

.description2, .posted-by2 {
  font-size: 2.25rem;
  color: white;
}

.post-title2{
  font-size: 3.25rem;
}